body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#boxcontainer {
    margin: 0px auto;
    width: min(90vw, 400px);
}

#container {
    height: 300px;
}

.flashcard {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.409);
    perspective: 1000px;
    transition: transform 0.6s;
}

.flashcard .front, .flashcard .back{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.3s;
}

.flashcard .front * {
    position: relative;
    top: 30%;
}

.flashcard .back {
    opacity: 0;
}

#hoverdetector {
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    z-index: 10;
}

body:has(#hoverdetector:active) .flashcard {
    transform: rotateX(180deg);
    transition: transform 0.6s;
}

body:has(#hoverdetector:active) .front {
    opacity: 0;
}
body:has(#hoverdetector:active) .back {
    opacity: 1;
    transform: rotateX(180deg);
}

#img {
    aspect-ratio: calc(1/1);
    width: 200px;
    margin-top: 20px;
    border-radius: 8px;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttons {
    aspect-ratio: 2/1;
    width: 50%;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.409);
    transition: background-color 0.3s, transform 0.2s;
    border: 1px solid #ccc;
}

#know {
    background-color: #a8fdac;
    margin-right: 5px;
    
}

#tolearn {
    background-color: #fda8a8;
    margin-left: 5px;
}

.buttons:active {
    transform: scale(0.95);
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 400px;
    margin: 10px auto;
    width: min(90vw, 400px);
}